

/* .container{
   position: absolute;
   left: 240px;
 
} */
.container {
  margin-left: 200px;
  margin-right: 0px;
  background: lightgrey;
}
.table{
  empty-cells: show;
  position: initial;
  top: 40px;
  left: 200px;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 20px;
}
.img{
    
 border-radius: 50px !important;
}